name: Release Packages

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HUSKY: 0
  NODE_VERSION: 20
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # for `npm publish`
  BUN_VERSION: latest
  # NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }} # for `bun publish`
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: bun install --frozen-lockfile
      - run: bun run build

      - run: bun run type-check
      - run: bun run lint
      - run: bun run test:ci

      - uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          version: bun run version
          publish: bun run release
          commit: 'chore: release packages'
          title: 'New Packages Release'
